<div class="container p-3">
  <h2>Instructions</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="back-tab" data-bs-toggle="tab" data-bs-target="#back-tab-pane" type="button" role="tab" aria-controls="back-tab-pane" aria-selected="true">Back</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="front-tab" data-bs-toggle="tab" data-bs-target="#front-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Front</button>
    </li>
  </ul>
  <div class="tab-content bg-light px-3 py-5">
    <div class="tab-pane fade show active" id="back-tab-pane" role="tabpanel" aria-labelledby="back-tab" tabindex="0">
      <interview-back-end-instruction></interview-back-end-instruction>
    </div>
    <div class="tab-pane fade" id="front-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <interview-front-end-instruction></interview-front-end-instruction>
    </div>
  </div>
 
</div>

